@page "/register"
@using System.Text
@inject HttpClient Http
@inject NavigationManager Navigation
@using System.Text.Json
@using AI_ChatBot_UI.DTOs
@rendermode InteractiveServer


<h3 class="text-2xl font-bold mb-4">Register</h3>

@if (!string.IsNullOrEmpty(Error))
{
    <div class="text-red-500">@Error</div>
}

<div class="w-full max-w-md mx-auto p-4 bg-white shadow-xl rounded-xl">
    <div class="mb-4">
        <label>Username</label>
        <input @bind="RegisterModel.Username" class="input input-bordered w-full" />
    </div>
    <div class="mb-4">
        <label>Email</label>
        <input @bind="RegisterModel.Email" class="input input-bordered w-full" />
    </div>
    <div class="mb-4">
        <label>Password</label>
        <input @bind="RegisterModel.Password" type="password" class="input input-bordered w-full" />
    </div>
    <button @onclick="HandleRegister" type="button" class="btn btn-success w-full">Register</button>
</div>
<p role="status">Current count: @currentCount</p>



@code {
    private RegisterDto RegisterModel = new();
    private string? Error;
    private int currentCount = 0;


    private async Task HandleRegister()
    {

        var content = new StringContent(JsonSerializer.Serialize(RegisterModel), Encoding.UTF8, "application/json");
        var response = await Http.PostAsync("https://localhost:7131/api/auth/register", content);


        if (response.IsSuccessStatusCode)
        {
            Navigation.NavigateTo("/login");
        }
        else
        {
            Error = "Registration failed. Email may already be taken.";
        }
    }

   
}


